
.episode-container {
    margin: auto;
}

/* Allow episodes to have whitespace with <pre> tag, but still wrap and keep font family */
.episode-content-pre {
    font-family: inherit;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin: 0;
    padding: 0;
}

.category-header {
    margin: 5% 0 5% 0;
}

.player-container {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.button {
    padding: 0;
    width: 50px;
    height: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
}


/* Widescreen */
@media screen and (min-width: 600px) {
    .episode-container {
        max-width: 40em;
    }
}
