{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/home-page.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/episode-styling.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<body>
    <div class="episode-list">
        <h2 class="category-header">All episodes</h2>
        {% for episode in episodes %}
        <div class="episode-summary">
            <h3 class="episode-title">
                <a class="nostyle" href="{% url 'podcast:episode' slug=episode.slug %}">{{ episode.title }}</a>
            </h3>
            <p class="episode-date">{{ episode.publish_date|date:"l, F d, Y" }}</p>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
