body {
    font-family: Open Sans, sans-serif;
}


/* Menu */
#menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

#menu li {
    font-size: 1.2em;
    line-height: 2em;
    height: 2em;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #0a0a0a;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    transition: 0.3s border-bottom;
}

#menu a {
    border-bottom: 4px solid #666;
}

#menu a:hover {
    border-bottom: 4px solid hsl(182, 100%, 46%);
}

@media screen and (min-width: 600px) {
    #menu li {
        display: inline-block;        
        margin-right: 2em;
        border-bottom: none;
    }
}

