/* Episode text */
.episode-title {
    margin: 0;
    color: hsl(300, 7%, 25%);
    text-decoration: none;
    transition: 0.6s letter-spacing;
    font-family: serif;
}
.episode-title:hover {
    letter-spacing: 1px;
}

h2.episode-title {
    font-size: 2em;
}

.episode-summary {
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}

.episode-date {
    color: #666;
    text-align: left;
    font-size: 0.8em;
    text-transform: uppercase;
}

.category-header {
    color: hsl(300, 35%, 15%);
    font-weight: lighter;
}

/*************************/
/* Audio player elements */
/*************************/
/* Defaults if JavaScript can't be used */
audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 10px 10px 15px hsla(182, 100%, 30%, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px hsl(181, 98%, 36%);
    -webkit-box-shadow:  2px 2px 4px 0px hsl(182, 100%, 0%);
    box-shadow: 2px 2px 4px 0px hsl(182, 10%, 40%);
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}

/* Fancy custom player */
.player-container {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    position: relative;
    border-top: 3px double #666;
    border-bottom: 3px double #666;
}

.play-button {
    position: absolute;
    top: -50%;
    height: 100px;
    width: 100px;
    padding: 0;
    border: 0;
    background-color: transparent;
    fill: hsl(300, 35%, 15%);
}

.player-seeker {
    margin: 0 10px 0 0;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 60%;
    padding: 0;
}

/* Vertically aligned seeker */
#seeker-canvas {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    width: 100%;
}


input[type=range] {
    position: absolute; /* makes input usable on top of canvas */
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    z-index: 100;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track,
input[type=range]::-ms-track,
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-color: grey;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
}
