/* Episode text */
.episode-title {
    margin: 0;
    color: hsl(300, 7%, 25%);
    text-decoration: none;
    transition: 0.6s letter-spacing;
    font-family: serif;
}
.episode-title:hover {
    letter-spacing: 1px;
}

h2.episode-title {
    font-size: 2em;
}

.episode-summary {
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}

.episode-date {
    color: #666;
    text-align: left;
    font-size: 0.8em;
    text-transform: uppercase;
}

.category-header {
    color: hsl(300, 35%, 15%);
    font-weight: lighter;
}

/*************************/
/* Audio player elements */
/*************************/
/* Defaults if JavaScript can't be used */
audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 10px 10px 15px hsla(182, 100%, 30%, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px hsl(181, 98%, 36%);
    -webkit-box-shadow:  2px 2px 4px 0px hsl(182, 100%, 0%);
    box-shadow: 2px 2px 4px 0px hsl(182, 10%, 40%);
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}

/*****************************/
/* Fancy custom audio player */
/*****************************/
#player-container {
    margin: 30px 0;
    padding: 0;
    height: 50px;
    position: relative;
    border-top: 3px double #111;
    border-bottom: 3px double #111;
    background-color: hsl(180, 21%, 34%);
}

.play-button {
    position: absolute;
    top: 0%;
    height: 50px;
    width: 50px;
    padding: 0;
    border: 0;
    background-color: transparent;
    fill: hsl(300, 35%, 15%);
}

@media screen and (min-width: 600px) {
    .play-button {
        top: -50%;
        height: 100px;
        width: 100px;
    }
}

/* Vertically aligned seeker */
#seeker-canvas {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    width: 100%;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    background-color: hsl(180, 41%, 64%);
    box-sizing: border-box;
}

.player-seeker {
    margin: 0 1px 0 0;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 70%;
    padding: 0;
}

input[type=range] {
    position: absolute; /* makes input usable on top of canvas */
    -webkit-appearance: none;
    background: transparent;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    margin-left: 0;
    width: 100%;
    z-index: 10;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
}
input[type=range]::-moz-range-track {
    background: transparent;
}
input[type=range]::-ms-track {
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-color: hsla(38, 50%, 90%, 0.5);
    transition: 0.3s all;
}
input[type=range]::-webkit-slider-thumb:hover {
    background-color: hsla(182, 100%, 46%, 0.5);
}
input[type=range]::-webkit-slider-thumb:active {
    background-color: hsla(182, 100%, 46%, 0.93);
}


input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-color: hsla(38, 50%, 90%, 0.5);
    transition: 0.3s all;
}
input[type=range]::-moz-range-thumb:hover {
    background-color: hsla(182, 100%, 46%, 0.5);
}
input[type=range]::-moz-range-thumb:active {
    background-color: hsla(182, 100%, 46%, 0.93);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 44px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-color: hsla(38, 50%, 90%, 0.5);
    transition: 0.3s all;
}
input[type=range]::-ms-thumb:hover {
    background-color: hsla(182, 100%, 46%, 0.5);
}
input[type=range]::-ms-thumb:active {
    background-color: hsla(182, 100%, 46%, 0.93);
}

/* Status box to display current time when seeking */
#seeker-status {
    display: none;
    position: absolute;
    height: 16px;
    padding: 4px;
    top: -30px;
    background-color: #666;
    text-align: center;
    box-shadow: 1px 1px 4px #666;
    white-space: nowrap;
    transition: 1s opacity, 0.3s left;
}
#seeker-status p {
    padding: 0;
    margin: 0;
    font-family: mono;
    color: white;
}

.arrow-down {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #666;
}
