/*
To do
- thicker title font
- title bottom border
- swap sides


*/

/* Content container */
.home-container {
    padding: 1%;
}

.podcast-title {
    margin: 2.5% 0 5% 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-size: 8vw;
    font-weight: bolder;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(300, 7%, 30%);
    font-family: serif;
    border-bottom: 4px double #666;
}


/* Latest episodes */
.episode-list {
    margin-right: 5%;
    padding-left: 5%;
    float: left;
}

.episode-list h3 {
    margin: 0 0 5px 0;
    color: hsl(182, 100%, 46%);
}

.episode-list a {
    color: black;
    text-decoration: none;
    transition: 0.6s letter-spacing;
}
.episode-list a:hover {
    letter-spacing: 2px;
}

.episode-summary {
    border-bottom: 1px solid #666; 
    margin-bottom: 20px;
}

/* About the podcast */
.about {
    color: #666;
    padding-right: 5%;
    margin: 50px;
}


/* Widescreen */
@media screen and (min-width: 600px) {
    .podcast-title {
        font-size: 3em;
/*        font-size: 6vw;*/
    }
    
    .about {
        margin-left: 65%;
        margin-top: 60px;
    }
    
    .episode-list {
        width: 60%;
    }
}
