<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
    <head>
        <!-- Meta       -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Beginning of content       -->
        {% block title %}<title>The Awesome Podcast</title>{% endblock %}

        <link rel="stylesheet" href="{% static "css/base-styles.css" %}" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="site">
            <header>
                <nav id="menu">
                    <ul>
                        <li><a href="https://nathanclonts.com/podcast">home</a></li>
                        <li><a href="https://nathanclonts.com/podcast/podcast/episodes">episodes</a></li>
                        <li><a href="#">art</a></li>
                        <li><a href="#">music</a></li>
                        <li><a href="#">subscribe</a></li>
                    </ul>
                </nav>
            </header>

            <section id="content">
            {% block content %}{% endblock %}
            </section>

            <section id="footer">
            {% block footer %}{% endblock %}
            </section>
        </div>
    </body>

    {% block scripts %}{% endblock %}
</html>
