<!DOCTYPE html>
{% load static %}
<html lang="en-US">
    <head>
        <!-- Meta       -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Beginning of content       -->
        {% block title %}<title>The Awesome Podcast</title>{% endblock %}

        <link rel="stylesheet" href="{% static "css/base-styles.css" %}" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="site">
            <header>
                <nav id="menu">
                    <ul>
                        <li><a class="menu-a" href="{% url 'home_page' %}">home</a></li>
                        <li><a class="menu-a" href="{% url 'podcast:episode_list' %}">episodes</a></li>
                        <li><a class="menu-a" href="#">art</a></li>
                        <li><a class="menu-a" href="#">music</a></li>
                        <li><a class="menu-a" href="#">subscribe</a></li>
                    </ul>
                </nav>

                <div class="menu-toggle">
                    <a class="menu-a is-active" href="#menu" id="menu-open">Menu</a>
                    <a class="menu-a" href="#" id="menu-close">Close</a>
                </div>

                <h1 class="podcast-title title"><a class="nostyle" href="{% url 'home_page' %}"
                                             title="Accountability Hour">Accountability Hour</a></h1>
            </header>



            <section id="content">
            {% block content %}{% endblock %}
            </section>

            <section id="footer">
            {% block footer %}{% endblock %}
            </section>
        </div>
    </body>

    <script src="{% static "js/responsive.js" %}" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
</html>
