{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/home-page.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/episode-styling.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<body>
<section class="home-container">
    <div class="episode-list">
        {% for episode in episodes %}
        <!-- Main / most recent / featured episode  -->
        {% if forloop.counter == 1 %}
        <div class="episode-summary">
            <h2 class="episode-title">
                <a class="nostyle" href="{% url 'podcast:episode' slug=episode.slug %}">{{ episode.title }}</a>
            </h2>

            <p>{{ episode.short_description|safe }}</p>
            {% include "audio-player.html" %}
        </div>

        <!-- Not most recent: list title -->
        {% else %}
        <div class="episode-summary">
            <h3 class="episode-title">
                <a class="nostyle" href="{% url 'podcast:episode' slug=episode.slug %}">{{ episode.title }}</a>
            </h3>
            <p class="episode-date">{{ episode.publish_date|date:"l, F d, Y" }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="about">
        <p><strong>Accountability Hour</strong> is an awesome podcast, due to the awesome nature of the contents found within.</p>
        <p>It all started once when the podcast was made. Who knew then what insidious yet intensely excellent tidings the future would hold? I grow old, I grow old; I shall wear the bottoms of my trousers rolled.</p>
    </div>
</section>
</body>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static "podcast/js/player.js" %}" type="text/javascript"></script>
{% endblock %}
