{% extends "base.html" %}

{% block content %}
<body>
    <div class="episode-list">
        {% for episode in episodes %}
            <h3><a href="{% url 'podcast:episode' slug=episode.slug %}">{{ episode.title }}</a></h3>
            <audio class="episode-player" controls src="{{ episode.audio_file.url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
            <p>{{ episode.description|safe }}</p>
        {% endfor %}
    </div>
</body>
{% endblock %}
