{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/home-page.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<body>
<section class="home-container">
    <div class="about">
        <p>The Awesome Podcast is an awesome podcast, due to the awesome nature of the contents found within.</p>
        <p>It all started once when the podcast was made. Who knew then what insidious yet intensely excellent tidings the future would hold? I grow old, I grow old; I shall wear the bottoms of my trousers rolled.</p>
    </div>

    <div class="episode-list">
        {% for episode in episodes %}
        <div class="episode-summary">
            <h3><a href="{% url 'podcast:episode' slug=episode.slug %}">{{ episode.title }}</a></h3>
            <audio class="episode-player" controls src="{{ episode.audio_file.url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
            <p>{{ episode.description|safe }}</p>
        </div>
        {% endfor %}
    </div>
</section>
</body>
{% endblock %}
